body{
    background:#E7F7FF;
    font-size: 24px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-weight: 100;
    margin:20px;
    padding:0;
}

h1 {
    font-size:160px;
    color:#000;
    font-weight:600;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:#D700E4;
    line-height:0;
}

.intro {
    margin-top:200px;
}

h2 {
    font-size:100px;
    color:#000;
    font-weight:600;
    line-height:1;
}